<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{customer/layout/base :: common_head(~{::title}, ~{::link}, ~{::style})}">
    <title>사용자 프로필</title>
</head>
<body>
<header th:replace="~{customer/layout/base :: common_header}"></header>

<div class="content-wrapper">
    <main>
        <!-- 소비자 프로필 카드 -->
        <div class="chart-card mb-3">
            <h2>프로필 수정</h2>
            <form th:object="${profile}" method="post" id="profileForm">
                <!-- 사용자 기본 정보 -->
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" th:field="*{email}" id="email" class="form-control" th:errorclass="field-error">
                    <div class="field-error" th:errors="*{email}"></div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">성</label>
                        <input type="text" th:field="*{lastName}" id="lastName" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{lastName}"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">이름</label>
                        <input type="text" th:field="*{firstName}" id="firstName" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{firstName}"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">핸드폰</label>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" class="form-control" placeholder="ex) 010-1234-5678"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{phoneNumber}"></div>
                </div>

                <!-- 소비자 주소 정보 -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="state" class="form-label">특별시/광역시/도</label>
                        <input type="text" th:field="*{address.state}" id="state" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{address.state}"></div>
                    </div>
                    <div class="col-md-4">
                        <label for="city" class="form-label">시/군/구</label>
                        <input type="text" th:field="*{address.city}" id="city" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{address.city}"></div>
                    </div>
                    <div class="col-md-4">
                        <label for="area" class="form-label">읍/면/동</label>
                        <input type="text" th:field="*{address.area}" id="area" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{address.area}"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="street" class="form-label">도로명</label>
                        <input type="text" th:field="*{address.street}" id="street" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{address.street}"></div>
                    </div>
                    <div class="col-md-4">
                        <label for="buildingNumber" class="form-label">건물 번호</label>
                        <input type="text" th:field="*{address.buildingNumber}" id="buildingNumber" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{address.buildingNumber}"></div>
                    </div>
                    <div class="col-md-4">
                        <label for="zipCode" class="form-label">우편번호</label>
                        <input type="text" th:field="*{address.zipCode}" id="zipCode" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{address.zipCode}"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="apartment" class="form-label">아파트/동/호수</label>
                    <input type="text" th:field="*{address.apartment}" id="apartment" class="form-control" th:errorclass="field-error">
                    <div class="field-error" th:errors="*{address.apartment}"></div>
                </div>

                <!-- 버튼 -->
                <div class="row">
                    <div class="col">
                        <button type="submit" id="saveBtn" class="w-100 btn btn-primary">저장</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-secondary"
                                th:onclick="|location.href='@{/customer/profiles}'|"
                                type="button">
                            취소
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

<footer th:replace="~{customer/layout/base :: common_footer}"></footer>

</body>
</html>