<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="seller/layout/base :: common_head(~{::title}, ~{::link})">
    <title>상품 목록</title>
</head>

<body>
<header th:replace="seller/layout/base :: common_header"></header>
<aside th:replace="seller/layout/base :: common_aside"></aside>

<!-- 메인 컨텐츠 -->
<div class="main-content">
    <section class="container-fluid">

        <!-- 페이지 제목 -->
        <div class="row mb-4">
            <div class="col">
                <h2 class="fw-bold">상품 목록</h2>
            </div>
        </div>

        <!-- 검색 조건 영역 -->
        <div class="search-bar mb-4">
            <div class="card p-3 shadow-sm">
                <h5 class="mb-3">검색 조건</h5>
                <form class="d-flex" role="search" th:object="${searchProduct}" method="get">
                    <div class="col-md-2 me-2">
                        <input class="form-control" type="search" th:field="*{name}" placeholder="상품 이름 검색" aria-label="Search">
                    </div>
                    <div class="col-md-2 me-2">
                        <select th:field="*{status}" class="form-select">
                            <option value="" selected>--등록 상태--</option>
                            <option th:each="status : ${productStatusList}" th:value="${status.systemValue}" th:text="${status.displayName}"></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 카드 영역 -->
        <div class="row g-3 mb-4">
            <div class="col-md-12">

                <div class="card p-3 mb-3">
                    <!-- 카드 제목 -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0">상품 목록</h5>
                        <a th:href="@{/seller/products/new}" class="btn btn-success">상품 등록</a>
                    </div>
                    <!-- 목록 테이블 영역 -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">카테고리</th>
                                    <th scope="col">상품 이름</th>
                                    <th scope="col">가격</th>
                                    <th scope="col">총 재고량</th>
                                    <th scope="col">등록 상태</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr th:each="product : ${productList.content}"
                                th:onclick="|location.href='@{/seller/products/{id}(id=${product.id})}'|">
                                <td th:text="${#strings.listJoin(product.categories.![name], ', ')}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${#numbers.formatInteger(product.basePrice, 4, 'COMMA')}"></td>
                                <td th:text="${#numbers.formatInteger(product.stockQuantity, 4, 'COMMA')}"></td>
                                <td th:text="${product.status.displayName}"></td>
                            </tr>
                            <!-- 데이터가 없으면 표시 -->
                            <tr th:if="${#lists.isEmpty(productList.content)}">
                                <td colspan="3" class="text-center">등록된 상품이 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 페이징 네비게이션: 데이터가 있는 경우에만 렌더링 -->
                    <div class="d-flex justify-content-center" th:if="${productList.totalElements > 0}">
                        <nav>
                            <ul class="pagination">
                                <!-- 이전 페이지 -->
                                <li class="page-item" th:classappend="${productList.first} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/seller/products(page=${productList.number - 1})}">&laquo;</a>
                                </li>

                                <!-- 페이지 번호 -->
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, productList.totalPages - 1)}"
                                    th:classappend="${productList.number} == ${i} ? 'active'">
                                    <a class="page-link" th:href="@{/seller/products(page=${i})}"
                                       th:text="${i + 1}">1</a>
                                </li>

                                <!-- 다음 페이지 -->
                                <li class="page-item" th:classappend="${productList.last} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/seller/products(page=${productList.number + 1})}">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

<footer th:replace="~{seller/layout/base :: common_footer}"></footer>

</body>
</html>
