<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar">
    <div class="bg-dark text-white p-3">
        <h5>Admin Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link text-white" href="/admin/home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="/admin/users">Users</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="/admin/roles">Roles</a></li>
        </ul>
    </div>
</aside>