<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{admin/layout/base :: common_head(~{::title}, ~{::link})}">
    <title>역할 생성</title>
</head>

<body>
<header th:replace="~{admin/layout/base :: common_header}"></header>
<aside th:replace="~{admin/layout/base :: common_aside}"></aside>

<!-- 메인 컨텐츠 -->
<div class="main-content">
    <section class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-12">

                <!-- 카드 영역 -->
                <div class="chart-card mb-3">
                    <h4 class="mb-3">역할 생성</h4>
                    <form th:object="${role}" method="post" th:action>
                        <!-- 역할 정보 -->
                        <div class="mb-3">
                            <label for="name" class="form-label">역할 이름</label>
                            <input type="text" th:field="*{name}" id="name" class="form-control"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{name}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">역할 설명</label>
                            <input type="text" th:field="*{description}" id="description" class="form-control"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{description}"></div>
                        </div>

                        <!-- 버튼 -->
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="w-100 btn btn-primary">저장</button>
                            </div>
                            <div class="col">
                                <button class="w-100 btn btn-secondary"
                                        th:onclick="|location.href='@{/admin/roles}'|"
                                        type="button">
                                    취소
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>

<footer th:replace="~{admin/layout/base :: common_footer}"></footer>

</body>
</html>
