<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{seller/layout/base :: common_head(~{::title}, ~{::link}, ~{::style})}">
    <title>페이지 제목</title>
</head>

<body>
<header th:replace="~{seller/layout/base :: common_header}"></header>
<aside th:replace="~{seller/layout/base :: common_aside}"></aside>

<!-- 메인 컨텐츠 -->
<div class="main-content">
    <section class="container-fluid">

        <!-- 페이지 제목 -->
        <div class="row mb-4">
            <div class="col">
                <h2 class="fw-bold">프로필 정보</h2>
            </div>
        </div>

        <!-- 카드 영역 -->
        <div class="row g-3 mb-4">
            <div class="col-md-12">
                <div class="card p-3 stats-card">

                    <!-- 판매자 프로필 카드 -->
                    <div class="chart-card mb-3">
                        <h2>프로필 정보</h2>
                        <!-- 사용자 기본 정보 -->
                        <div class="mb-3">
                            <label for="userName" class="form-label">아이디</label>
                            <input type="text" id="userName" class="form-control" th:value="${profile.userName}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">이메일</label>
                            <input type="text" id="email" class="form-control" th:value="${profile.email}" disabled>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">성</label>
                                <input type="text" th:field="*{profile.lastName}" id="lastName" class="form-control" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">이름</label>
                                <input type="text" th:field="*{profile.firstName}" id="firstName" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">핸드폰</label>
                            <input type="text" id="phoneNumber" class="form-control" th:value="${profile.phoneNumber}" disabled>
                        </div>

                        <!-- 판매자 상세 정보 -->
                        <div class="mb-3">
                            <label for="companyName" class="form-label">회사명</label>
                            <input type="text" id="companyName" class="form-control" th:value="${profile.companyName}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="businessLicenseNumber" class="form-label">사업자 번호</label>
                            <input type="text" id="businessLicenseNumber" class="form-control" th:value="${profile.businessLicenseNumber}" disabled>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 수정하기 버튼을 클릭하면 수정 페이지로 이동 -->
        <div class="row">
            <div class="col">
                <button class="w-10 btn btn-primary"
                        th:onclick="|location.href='@{/seller/profiles/edit}'|"
                        type="button">
                    프로필 수정
                </button>
            </div>
        </div>

    </section>
</div>

<footer th:replace="~{seller/layout/base :: common_footer}"></footer>

</body>
</html>
