<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/layout/head :: head}">
    <title>고객 상세 정보</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{admin/layout/header :: header}"></header>
<main class="flex-fill">
    <div class="container my-4">
        <h2>고객 상세 정보</h2>
        <!-- 공통 사용자 기본 정보 -->
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" id="id" class="form-control" th:value="${userDetailInfo.id}" readonly>
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">아이디</label>
            <input type="text" id="userName" class="form-control" th:value="${userDetailInfo.userName}" readonly>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="text" id="email" class="form-control" th:value="${userDetailInfo.email}" readonly>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">이름</label>
            <input type="text" id="firstName" class="form-control" th:value="${userDetailInfo.firstName}" readonly>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">성</label>
            <input type="text" id="lastName" class="form-control" th:value="${userDetailInfo.lastName}" readonly>
        </div>

        <!-- 고객 상세 정보 -->
        <div class="mb-3">
            <label for="state" class="form-label">특별시/광역시/도</label>
            <input type="text" id="state" class="form-control" th:value="${userDetailInfo.address?.state}" readonly>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">시/군/구</label>
            <input type="text" id="city" class="form-control" th:value="${userDetailInfo.address?.city}" readonly>
        </div>
        <div class="mb-3">
            <label for="area" class="form-label">동/읍/</label>
            <input type="text" id="area" class="form-control" th:value="${userDetailInfo.address?.area}" readonly>
        </div>
        <div class="mb-3">
            <label for="street" class="form-label">도로명</label>
            <input type="text" id="street" class="form-control" th:value="${userDetailInfo.address?.street}" readonly>
        </div>
        <div class="mb-3">
            <label for="buildingNumber" class="form-label">건물 번호</label>
            <input type="text" id="buildingNumber" class="form-control" th:value="${userDetailInfo.address?.buildingNumber}" readonly>
        </div>
        <div class="mb-3">
            <label for="apartment" class="form-label">아파트/동/호수</label>
            <input type="text" id="apartment" class="form-control" th:value="${userDetailInfo.address?.apartment}" readonly>
        </div>
        <div class="mb-3">
            <label for="zipCode" class="form-label">우편 번호</label>
            <input type="text" id="zipCode" class="form-control" th:value="${userDetailInfo.address?.zipCode}" readonly>
        </div>

        <!-- 역할 multi checkbox -->
        <div class="mb-3">
            <label class="form-label">역할</label>
            <div class="row">
                <div class="col-md-4" th:each="role : ${allRoles}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" disabled
                               th:id="'role_' + ${role.id}"
                               th:name="roles" th:value="${role.id}"
                               th:checked="${#lists.contains(userDetailInfo.roles.![id], role.id)}">
                        <label class="form-check-label" th:for="'role_' + ${role.id}" th:text="${role.name}">Role Name</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- 수정하기 버튼을 클릭하면 수정 페이지로 이동 -->
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/admin/users(userType=${userType})}'|"
                        type="button">
                    목록
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        th:attr="data-href='/admin/users/' + ${userDetailInfo.id} + '/edit?userType=' + ${userType}"
                        type="button">
                    정보 수정
                </button>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{admin/layout/footer :: footer}"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('button[data-href]').forEach(function(row) {
            row.addEventListener('click', function() {
                window.location.href = row.getAttribute('data-href');
            });
        });
    });
</script>
</body>
</html>
