<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/layout/base :: common_head(~{::title}, ~{::link})">
    <title>사용자 관리</title>
</head>

<body>
<header th:replace="admin/layout/base :: common_header"></header>
<aside th:replace="admin/layout/base :: common_aside"></aside>

<!-- 메인 컨텐츠 -->
<div class="main-content">
    <section class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-12">

                <!-- 검색 조건 영역 -->
                <div class="search-bar mb-4">
                    <div class="card p-3 shadow-sm">
                        <h5 class="mb-3">검색 조건</h5>
                        <form class="d-flex" role="search" th:object="${searchUser}" method="get">
                            <input class="form-control me-2 search-input" type="search" th:field="*{userName}"
                                   placeholder="아이디 검색" aria-label="Search">
                            <input class="form-control me-2 search-input" type="search" th:field="*{email}"
                                   placeholder="이메일 검색" aria-label="Search">
                            <input type="hidden" name="userType" th:value="${userType}">
                            <button class="btn btn-outline-secondary" type="submit">검색</button>
                        </form>
                    </div>
                </div>

                <!-- 카드 영역 -->
                <div class="chart-card mb-3">
                    <!-- 카드 제목 -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0">사용자 목록</h5>
                    </div>
                    <!-- 목록 테이블 영역 -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">순서</th>
                                    <th scope="col">아이디</th>
                                    <th scope="col">이메일</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr th:each="user, userStat : ${userList.content}"
                                    th:onclick="|location.href='@{/admin/users/{userId}(userId=${user.id}, userType=${userType})}'|">
                                    <td th:text="${userStat.count}"></td>
                                    <td th:text="${user.userName}"></td>
                                    <td th:text="${user.email}"></td>
                                </tr>
                                <!-- 데이터가 없으면 표시 -->
                                <tr th:if="${#lists.isEmpty(userList.content)}">
                                    <td colspan="3" class="text-center">데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 페이징 네비게이션: 데이터가 있는 경우에만 렌더링 -->
                    <div class="d-flex justify-content-center" th:if="${userList.totalElements > 0}">
                        <nav>
                            <ul class="pagination">
                                <!-- 이전 페이지 -->
                                <li class="page-item" th:classappend="${userList.first} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/users(userType=${userType}, page=${userList.number - 1})}">&laquo;</a>
                                </li>

                                <!-- 페이지 번호 -->
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, userList.totalPages - 1)}"
                                    th:classappend="${userList.number} == ${i} ? 'active'">
                                    <a class="page-link" th:href="@{/admin/users(userType=${userType}, page=${i})}"
                                       th:text="${i + 1}">1</a>
                                </li>

                                <!-- 다음 페이지 -->
                                <li class="page-item" th:classappend="${userList.last} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/users(userType=${userType}, page=${userList.number + 1})}">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<footer th:replace="~{admin/layout/base :: common_footer}"></footer>

</body>

</html>